<?xml version="1.0"?>
<phpunit 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" 
    backupGlobals="false" 
    backupStaticAttributes="false" 
    beStrictAboutTestsThatDoNotTestAnything="true" 
    beStrictAboutChangesToGlobalState="true" 
    beStrictAboutOutputDuringTests="true" 
    colors="true" 
    convertErrorsToExceptions="true" 
    convertNoticesToExceptions="true" 
    convertWarningsToExceptions="true" 
    processIsolation="false" 
    stopOnFailure="false" 
    cacheResult="false"
    bootstrap="vendor/autoload.php"
>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
    <report>
      <html outputDirectory="./tests/reports/coverage/html"/>
      <clover outputFile="./tests/reports/clover.xml"/>
      <text outputFile="php://stdout" showUncoveredFiles="false"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Acceptance">
      <directory suffix="Test.php">./tests/Acceptance</directory>
    </testsuite>
    <testsuite name="Application">
      <directory suffix="Test.php">./tests/Application</directory>
    </testsuite>
    <testsuite name="Infrastructure">
      <directory suffix="Test.php">./tests/Infrastructure</directory>
    </testsuite>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
  </testsuites>
</phpunit>
